.book-store{
    width: 50%;
    float: left;
    margin-top: 20px;
}
.book-image{
    width: 80%;
    padding-left: 10%;
}
.book-name{
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 15px;
    font-weight: 600;
    padding-right: 10%;
    margin-top: 0;
}
.book-author{
    font-size: 14px;
    color: #808080;
}
.book-price{
    font-size: 14px;
    font-weight: 600;
    color: #808080;
    margin-bottom: 20px;
}
.book-button{
    font-size: 13px;
    padding: 5px 20px;
    border: 1px solid #808080;
    color: #808080;
    cursor: pointer;
    text-decoration: none;
}
.book-button:hover{
    color: #FFFFFF;
    background-color: #FD4084;
    border: none;
}
@media only screen and (max-width : 767px) {
    .book-store{width: 100%;}
}
