/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
    #header-top-left {
        width: 100%;
        text-align: center;
    }
    #header-top-right{
        display: none;
    }
    .header-logo-image{
        width: 100%;
        text-align: center;
    }
    .header-logo-call, .header-logo-time{
        width: 50%;
        text-align: center;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    .header-logo-call, .header-logo-time{
        display: none;
    }
    .col-3{
        width: 96%;
        margin-left: 2%;
    }
    #about-contact, #about-info{
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
    #about-info{
        text-align: center;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {
}
